#define VER 0,1,0,0
#define VER_STR "0.1.0.0-beta.8\0"

1 VERSIONINFO

FILEVERSION VER
PRODUCTVERSION VER

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
			VALUE "FileDescription", "A lightweight Apple Music client."
			VALUE "FileVersion", VER_STR
			VALUE "InternalName", "Lito Music"
			VALUE "LegalCopyright", "See LICENSE in the repository."
			VALUE "ProductName", "Lito Music"
			VALUE "OriginalFilename", "lito.exe"
			VALUE "ProductVersion", VER_STR
			VALUE "ProductShortName", "Lito Music"
			VALUE "Official Build", "0"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200, 0x0804, 1200
	END
END
